<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 link">
        <a href="index.html">
          <img id="logo" class="small" src="./Content/logo-small.png">
        </a>
      </div>
      <div class="col-sm-9 right">
        <div class="row">
          <div class="offset-sm-6 col-sm-3 link highlight">
            <a href="services.html">Services &nbsp;
              <span class="fas fa-user-tie"></span>
            </a>
          </div>
          <div class="col-sm-3 link highlight">
            <a href="contact.html">Contact &nbsp;
              <span class="fas fa-phone"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="fruit-header"> </div>
    </div>
  </div>
</header>