<header>
  <div class="row">
    <div class="col-sm-3">
      <a href="index.html">
        <img id="logo" class="small" src="./Content/logo-small.png">
      </a>
    </div>
    <div class="col-sm-9 links">
      <a href="contact.html">
        <div class="link">
          <span class="fas fa-address-card"></span>
          <br />Contact
        </div>
      </a>
      <a href="services.html">
        <div class="link">
          <span class="fas fa-cogs"></span>
          <br />Services
        </div>
      </a>
      <a href="about.html">
        <div class="link">
          <span class="fas fa-user-tie"></span>
          <br />About
        </div>
      </a>
    </div>
  </div>
</header>