$lightorange: rgb(236, 186, 130);
$orange: rgb(242, 117, 33);
$darkorange: rgb(204, 88, 3);

$green: rgb(124, 197, 118);
$darkgreen: rgb(90, 175, 82);

$darkblue: rgb(3, 29, 68);

$lightyellow: rgb(241, 232, 184);
$yellow: rgb(255, 242, 68);

$red: rgb(221, 79, 79);

$lightgrey: rgb(242, 242, 230);
$darkgrey: rgb(55, 63, 81);
